.cta-button {
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  font-size: clamp(var(--fs-100), 2vw, var(--fs-250));
  padding: 1.75rem;
  border-radius: 15px;
}

.cta-button:hover {
  background-color: var(--orange);
  outline: 1px solid var(--dark-800);
}

@media screen and (max-width: 26.563rem) {
  .cta-button {
    width: calc(100% - 25%);
    overflow: hidden;
  }
}
