.princedlf__contact-container {
  width: 90%;
  margin-inline: auto;
  margin-top: 3rem;
  grid-template-areas: "phone email whatsapp";
}

.princedlf__contact-container > * {
  background-color: #fff4e4;
  border: 1px solid var(--dark-800);
  padding: 1rem 2rem;
  border-radius: 15px;
  display: grid;
  place-items: center;
  gap: 1rem;
  direction: ltr;
  max-width: 25rem;
}

.princedlf__contact-container > *:first-child {
  grid-area: phone;
}
.princedlf__contact-container > *:nth-child(2) {
  grid-area: email;
}
.princedlf__contact-container > *:last-child {
  grid-area: whatsapp;
}

@media screen and (max-width: 65.625rem) {
  .princedlf__contact-container {
    grid-template-areas:
      "phone email"
      "- whatsapp";
    width: 100%;
  }
}
@media screen and (max-width: 48rem) {
  .princedlf__contact-container {
    grid-template-areas:
      "phone"
      "email"
      "whatsapp";
  }
}
