.princedlf__navbar {
  padding: 0.5rem 2rem;
  padding-bottom: 2rem;
  background-color: #ffeecd3a;
  backdrop-filter: blur(40px);
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 999;
  box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.208);
}

.princedlf__navbar .logo img {
  width: 5rem;
  height: 4rem;
  object-fit: contain;
}

.princedlf__navbar-menu_container {
  background-color: #fff4e4;
  box-shadow: 10px 10px 0 #f5d1a3;
  border: 1px solid var(--dark-700);
  border-radius: 30px;
  position: absolute;
  top: 25rem;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20rem;
  max-width: 100%;
  height: 30rem;
}

.princedlf__navbar li > a:hover {
  color: var(--brown);
}

.princedlf__navbar .primary-btn:hover {
  background-color: transparent;
  outline: 1px solid var(--dark-800);
  color: var(--dark-800);
}

@media screen and (max-width: 48.5rem) {
  .princedlf__navbar-menu {
    display: block;
  }
  .princedlf__navbar-links,
  .princedlf__navbar-links + div {
    display: none;
  }
}
