.princedlf__sectionHeader div {
  background-color: #ffe5c3;
  padding: 0.5rem 0.875rem;
  border-radius: 30px;
}

.princedlf__sectionHeader h2 {
  font-size: clamp(var(--fs-250), 4.5vw, var(--fs-600));
  max-width: 25ch;
  width: 100%;
  line-height: 1.5;
  text-wrap: wrap;
}
