@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marhey:wght@300..700&family=Noto+Nastaliq+Urdu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* *css variables */
:root {
  /* Colors: */
  --gray-600: #69727d;
  --gray-400: #a4a4a4;
  --gray-300: #c9c9c9;
  --pink: #cc3366;
  --red: #db3a15;
  --orange: #ff9245;
  --yellow: #dfc478;
  --peach: #dfc478;
  --brown: #8e482a;
  --beige-500: #ccb08b;
  --beige-700: #8f7a5e;
  --dark-brown: #462b0d;
  --light-peach: #ffeae3;
  --regular-peach: #fff1d6;
  --white-100: #ffffff;
  --white-200: #f3f3f3;
  --dark-900: #181818;
  --dark-800: #202020;
  --dark-700: #2d2d2d;
  --dark-600: #333333;
  --dark-600: #33373d;
  --dark-500: #54595f;
  /* Font : */
  --primary-ff: "Noto Sans Arabic", sans-serif;
  --secondary-ff: "Noto Nastaliq Urdu", serif;
  --marhey-ff: "Marhey", sans-serif;
  --merriweather-ff: "Merriweather", serif;
  --markazi-ff: "Markazi Text", serif;
  --roboto-ff: "Roboto", sans-serif;
  /* Font Weight: */
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semiBold: 600;
  --bold: 700;
  /* Font Size: */
  --fs-100: 0.875rem;
  --fs-150: 1rem;
  --fs-200: 1.25rem;
  --fs-250: 1.5rem;
  --fs-300: 2rem;
  --fs-350: 2.25rem;
  --fs-400: 2.5rem;
  --fs-600: 3rem;
  --fs-650: 3.5rem;
  --fs-700: 4rem;
}
