.princedlf__footer {
  width: 100%;
  background-image: linear-gradient(
    to bottom,
    rgb(255, 202, 152),
    transparent 50%
  );
  border-top: 1px solid var(--dark-800);
  z-index: 99;
  position: relative;
  padding-top: 2rem;
}

.princedlf__footer::after {
  content: "";
  width: 100%;
  height: 10rem;
  background-image: linear-gradient(
    to bottom,
    transparent 50%,
    rgba(0, 0, 0, 0.293)
  );
  position: absolute;
  bottom: 0;
}

.princedlf__links {
  margin-block: 3rem 2rem;
  padding-inline: 4rem;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.princedlf__contact-container {
  /* width: 100%;
  margin-inline: auto; */
  margin-top: 3rem;
  grid-template-areas: "phone email whatsapp";
}

.princedlf__contact-container > * {
  background-color: #fff4e4;
  border: 1px solid var(--dark-800);
  padding: 1rem 2rem;
  border-radius: 15px;
  display: grid;
  place-items: center;
  gap: 1rem;
  direction: ltr;
  max-width: 25rem;
}

.princedlf__contact-container > *:first-child {
  grid-area: phone;
}
.princedlf__contact-container > *:nth-child(2) {
  grid-area: email;
}
.princedlf__contact-container > *:last-child {
  grid-area: whatsapp;
}

@media screen and (max-width: 65.625rem) {
  .princedlf__contact-container {
    grid-template-areas:
      "phone email"
      "- whatsapp";
  }
  .princedlf__links {
    justify-content: center;
    text-align: center;
    gap: 2rem;
  }
}
@media screen and (max-width: 48rem) {
  .princedlf__contact-container {
    grid-template-areas:
      "phone"
      "email"
      "whatsapp";
  }
  .princedlf__footer::after {
    content: "";
    width: 100%;
    height: 10rem;
    background-image: linear-gradient(
      to bottom,
      transparent 20%,
      rgba(255, 224, 189, 0.664)
    );
    position: absolute;
    bottom: 0;
  }
}

@media screen and (max-width: 20rem) {
  .princedlf__contact-container > * {
    padding-inline: 1rem;
  }
}
